[Unit]
Description=Automatically does git push and pull on a number of repos

[Service]
Type=simple
WorkingDirectory=%I
ExecStart=%h/.git-sync/git-sync -n -s
Nice=19

[Install]
WantedBy=default.target
