<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="firefox"/>
    <package id="googlechrome"/>
    <package id="git"/>
    <package id="discord"/>
    <package id="spotify"/>
    <package id="bitwarden"/>
    <package id="steam"/>
    <package id="microsoft-windows-terminal"/>
    <package id="vscode"/>
    <package id="notepadplusplus"/>
    <package id="powertoys"/>
    <package id="calibre"/>
    <package id="adobereader"/>
    <package id="musescore"/>
    <package id="qbittorrent"/>
    <package id="vlc"/>
    <package id="vmware-workstation-player"/>
    <package id="7zip.install"/>
    <package id="powershell-core"/>
    <package id="sudo"/>
    <package id="fzf"/>
    <package id="ripgrep"/>
    <package id="bat"/>
</packages>
