# This is Git's per-user configuration file.
[pager]
	branch = false
[gpg]
	program = /usr/bin/gpg
[rebase]
	autosquash = true
[alias]
	root = rev-parse --show-toplevel
[include]
    path = .gitconfig.local
