# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Ishaat Chowdhury
	email = ishaat@ualberta.ca
[pager]
	branch = false
[gpg]
	program = /usr/bin/gpg
[rebase]
	autosquash = true
[alias]
	root = rev-parse --show-toplevel
