# This is Git's per-user configuration file.
[user]
    name="Ishaat Chowdhury"
    email="{{ .email }}"
[pager]
	branch = false
[gpg]
	program = /usr/bin/gpg
[rebase]
	autosquash = true
[alias]
	root = rev-parse --show-toplevel
[pull]
	rebase = true
